@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"

.container
    height: 42rem   
    overflow: scroll 
.new-card
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1rem 3rem
    background: Colors.$gradient
    height: 8rem
    border-bottom: .5rem solid Colors.$black
    color: Colors.$black
    p 
        width: 24rem
    .icon
        width: 2rem
        height: 2rem
        margin: .5rem
.old-card
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1rem 3rem
    background: Colors.$gray
    height: 8rem
    border-bottom: .5rem solid Colors.$black
    color: Colors.$black
    p 
        width: 24rem
    .icon
        width: 2rem
        height: 2rem
        margin: .5rem
