@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"
    
.primaryButton
    align-items: center
    background: Colors.$black
    border: none
    border-radius: 10.0rem
    color: Colors.$white
    cursor: pointer
    display: flex
    font-family: Fonts.$regular
    height: 6.0rem
    justify-content: center
    position: relative
    width: 33.0rem
    & > .title
        font-size: Fonts.$h4

    & > .icon
        height: 3rem
        width: 3rem
        position: absolute
        right: 10%
        top: calc(50% - 1.5rem)
:disabled
    background: gray
.-secondary
        background: Colors.$white
        color: Colors.$black
:disabled
    background: gray


.profileButton
    width: 12.0rem
    height: 2.0rem
    border-radius: 10.0rem
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    background: Colors.$white
    color: Colors.$black
    & > .title
        font-size: Fonts.$p


