@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"

.my-game-card
    background: Colors.$gradient
    display: flex
    justify-content: space-between
    align-items: center
    width: 100vw
    height: 20rem
    color: Colors.$black
    & > .text
        display: flex
        flex-direction: column
        padding-left: 2rem
        & > h3
            font-size: Fonts.$h3
    & > .button
        padding-right: 2rem
        & > button
            border: none
            border-radius: 10rem
            background-color: Colors.$black
            color: Colors.$white
            width: 8.5rem
            height: 2.5rem
.my-game-card-players
    background: Colors.$gradient
    display: flex
    flex-direction: column
    width: 100vw
    height: 20rem
    color: Colors.$black
    & > .playerCard
        display: flex
        height: 6rem
        
        width: 100%            
        & > .img
            height: 100%
            width: 10vh
            background-color: red
            background-size: cover
            background-position: center
            clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%)
        & > .aside
            & > .title
                font-size: Fonts.$h3
                margin: 0
   
       

.game-card
    background: Colors.$gray
    display: flex
    justify-content: space-between
    align-items: center
    width: 100vw
    height: 20rem
    color: Colors.$black
    & > .text
        display: flex
        flex-direction: column
        padding-left: 2rem
        & > h3
            font-size: Fonts.$h3                