.leaderBoard
    color: white
    

.banner
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column


.date 
    font-size: 30px
    display: flex
    justify-content: center
    margin-top: 25px
    margin-bottom: 15px

.content 
        flex-direction: column
        justify-content: center
        align-items: center
        display: flex
        padding-bottom: 2rem
        height: 75vh
        overflow: scroll
    
