@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"

.leaderBoard
    color: white

    & > .nav
        background: Colors.$black
        box-shadow: 0 0.1rem 1.2rem rgb(0 0 0 / 50%)
        display: flex
        flex-direction: column
        top: 0
        width: 100%
        z-index: 10

       
        
        & > .banner
            align-items: center
            display: flex
            flex-direction: column
            justify-content: center

            & > .icon
                margin-left: 3rem

        & > .title
            display: flex
            justify-content: center
            margin: 1rem 0
            width: 100%

            & > .text
                font-size: Fonts.$h2
                margin: 0

        & > .reset-text
            margin-bottom: 0rem
            text-align: center
        & > .timer
            display: flex
            align-items: center
            justify-content: center
            color: Colors.$white
            & > .holder
                & > span
                    display: flex
                    flex-direction: column
                    align-items: center 
                    padding: 1rem
                   

        & > .buttonContainer
            display: flex
            align-items: center
            justify-content: center
            padding: 1rem 0

    & > .content
        height: calc(100vh - 37.5rem)
        overflow-y: scroll

        & > .leaderboardCard:nth-child(1)
            background: linear-gradient(to right, #BF953F, #fff7a2, #dfb65f, #FBF5B7, #AA771C)
            color: Colors.$black
            & > .content
                & > .placement
                    align-items: center
                    display: flex

                & > .placement::after
                    height: 100%
                    display: flex
                    align-items: center                
                    margin-left: 1rem
                    content: url("@/assets/icons/essentials/trophy.svg")
        
        & > .leaderboardCard:nth-child(2)
            background: linear-gradient(to right, #a1a1a1, #dedede, #dadada, #dedede, #a1a1a1)
            color: Colors.$black

        & > .leaderboardCard:nth-child(3)
            background: linear-gradient(to right, #ca7345, #ffbb90,#ffbb90, #f28c54, #fca46e)
            border-bottom: 2rem solid Colors.$black
            color: Colors.$black
        
            