@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"

    
.notificationsView
    height: 100vh
    padding-bottom: 3rem
    position: relative

    & > .nav
        align-items: center
        display: flex
        flex-direction: column    
        padding-bottom: 1rem

        & > .button
            padding-top: 2rem

    & > .content
        align-items: center
        display: flex
        flex-direction: column
        height: calc(100vh - 17.5rem)
        margin-top: 1rem
        overflow-y: scroll

        & > .notifications
            overflow-y: scroll
            height: 78vh



