$black: #333;
$headerBlack: rgba(51, 51, 51, 0.7);
$gradientBlack: radial-gradient(
  circle at 24.1% 68.8%,
  rgb(50, 50, 50) 0%,
  rgb(27, 27, 27) 99.4%
);
$white: #fffdf9;
$whiteGradient: linear-gradient(45deg, #eeeeee, #faf8f9, #fffdf9);
$pink: #ff87dd;
$gray: #b4b4b4;
$red: #fc6464;
$gradient: linear-gradient(90deg, #ff87dd 48.44%, #fc6464 100%);
$skeletonGradient: linear-gradient(270deg, #333 48.44%, #585757 100%);
$skeletonGradientGray: linear-gradient(270deg, #898989 48.44%, #888888a8 100%);
