// Typography
@font-face {
  font-family: "Noir-Bold";
  src: url("@/assets/fonts/Noir_medium.woff2") format("woff2");
}

@font-face {
  font-family: "Noir-Regular";
  src: url("@/assets/fonts/Noir_regular.woff2") format("woff2");
}

$regular: "Noir-Regular";
$bold: "Noir-Bold";
$h1: 44px;
$h2: 30px;
$h3: 24px;
$p: 16px;
