@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"


.teamGenerator
    display: flex
    flex-direction: column
    align-items: center
    min-height: 100vh
    
    & > .content
        align-items: center
        justify-content: center
        flex-direction: column
        display: flex
        gap: 2rem