@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"

.navigation
    align-items: center
    display: flex
    height: 80vh
    flex-direction: column
    justify-content: center
    gap: 2rem

    & > .grid
        display: grid
        gap: 2rem
        grid-template-columns: 1fr 1fr
        width: 90%

        & > .gridItem
            align-items: center
            display: flex
            justify-content: center
            cursor: pointer

            & > .button
                align-items: center
                background: Colors.$pink
                border: .2rem solid Colors.$white
                border-radius: 1rem
                display: flex
                flex-direction: column
                height: 13rem
                justify-content: center
                padding: 1rem
                text-align: center
                width: 100%
                gap: 1rem

                & > .icon
                    height: 10rem

                & > .text
                    color: Colors.$white
                    font-size: Fonts.$h3
                    margin: 0

    & > .item
        width: 100%
        display: flex
        align-items: center
        justify-content: center

        & > .bigButton
            align-items: center
            background: linear-gradient(#ff87dd 24%, #fc6464 100%)
            border: .2rem solid Colors.$white
            border-radius: 1rem
            display: flex
            flex-direction: column
            height: 13rem
            justify-content: center
            padding: 1rem 0
            text-align: center
            width: 90%

            & > .icon
                height: 10rem

            & > .text
                color: Colors.$white
                font-size: Fonts.$h3
                margin: 0
