
@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"


.findPlayers
    min-height: 100vh
    
    & > .nav
        background: Colors.$black
        background-image: url("@/assets/logos/findPattern.svg")
        background-position: 50% 0
        box-shadow: 0 0.1rem 1.2rem rgb(0 0 0 / 50%)
        display: flex
        flex-direction: column
        top: 0
        width: 100%
        z-index: 10
        
        & > .banner
            display: flex
            justify-content: center
            padding: 4rem 0

    & > .content
        height: calc(100vh - 18rem)
        overflow-y: scroll
        padding-bottom: 1rem
        position: relative


        & > .invite-container
            position: absolute
            z-index: 1

        @media screen and ( min-width: 400px)
            height: calc(100vh - 20rem)
            
        