@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"
.profile
    background: Colors.$white
    height: 100vh
    width: 100%
    
    & > .header
        align-items: center
        position: absolute
        z-index: 2

        .asideElement
            display: flex
            gap: 0.4rem

    & > .profileContent
        animation: fadeIn 1s ease forwards
        display: flex
        flex-direction: column
        height: 100%
        justify-content: space-between
           
        & > .img-container
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5))
            position: relative

            & > .imgblur
                display: none
            
            & > .img
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                box-shadow: 0 8px 6px -6px black
                clip-path: polygon(0 0, 100% 0, 200% 53%, 0 100%)
                display: flex
                height: 70vh
                transition: height 0.5s ease
                width: 100vw

                &--edit
                    height: 50vh
                    transition: height 0.5s ease
    
            & > .iconContainer    
                & > .icon
                    align-items: center
                    background: Colors.$black
                    border-radius: 100%
                    bottom: 6%
                    cursor: pointer 
                    display: flex
                    height: 5.7rem
                    justify-content: center
                    left: calc( 50% - 2.85rem )
                    position: fixed
                    width: 5.7rem
                    
        & > .info 
            align-items: center
            bottom: 0
            display: flex
            flex-direction: column
            justify-content: center
            margin-bottom: 6vh
            width: 100%
    
            & > .name
                color: Colors.$black
                font-family: Fonts.$regular
                font-size: Fonts.$h3
                margin: 0
    
            & > .bio
                color: Colors.$gray
                font-family: Fonts.$regular
                font-size: Fonts.$p
    
            & > .stats
                display: flex
                flex-direction: row
                justify-content: space-between
                margin: 1rem
                width: 80%
    
                & > div
                    & > .value
                        color: Colors.$black
                        font-family: Fonts.$bold
                        font-size: Fonts.$h3
                        margin: .5rem
    
                    & > .type
                        color: Colors.$gray
                        font-family: Fonts.$regular
                        font-size: Fonts.$h3
                        margin: .5rem
                        padding-bottom: 1rem
                    
                    & > .border
                        border-bottom: solid Colors.$gray 1px
                        margin-left: .5rem
                        width: 30%
    
        & > .form
            align-items: center
            bottom: 0
            color: Colors.$black
            display: flex
            flex-direction: column
            font-family: Fonts.$regular
            font-size: Fonts.$h3
            gap: 2rem
            height: 50%
            justify-content: center
            margin-bottom: 6vh
            width: 100%
    
            & > label
                display: flex
                flex-direction: column
                gap: 1rem
                width: 80%
    
                & > input
                    border: none
                    background: none
                    color: Colors.$gray
                    font-family: Fonts.$regular
                    font-size: Fonts.$h3
                
                & > textarea
                    border: none
                    background: none
                    color: Colors.$gray
                    font-family: Fonts.$regular
                    font-size: Fonts.$h3
    
                & > .input-name
                    border-bottom: solid Colors.$gray 2px
                    height: 3rem
    
                & > .input-bio
                    border-bottom: solid Colors.$gray 2px
                    height: 6rem    
    
            & > .button
                background: Colors.$black
                border: none
                border-radius: 10rem
                color: Colors.$white
                font-family: Fonts.$regular
                font-size: Fonts.$h3
                height: 5.7rem
                width: 31rem
            
            & > .button-exit
                border: none
                background: none  
                color: Colors.$black   
                cursor: pointer
                font-size: Fonts.$p
                text-decoration: underline

@keyframes fadeIn
    0%
        opacity: 50%
        
    100%
        opacity: 100%

@media screen and (min-width: 1000px)
    .profile
        & > .profileContent
            & >.img-container
                align-items: center
                background: Colors.$gradientBlack
                display: flex
                filter: none
                justify-content: center
                position: relative
                
                & > .img
                    box-shadow: none
                    clip-path: none
                    width: 60%
                    z-index: 2

                & > .imgblur
                    background-position: center
                    background-repeat: no-repeat
                    background-size: cover
                    box-shadow: none
                    position: absolute
                    clip-path: none
                    display: flex
                    filter: blur(4rem)
                    height: 100%
                    transition: height 0.5s ease
                    width: 100%
                    z-index: 1

                & > .iconContainer
                    & > .icon
                        bottom: -3.5%
                        position: absolute
                        z-index: 3