@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"

.battleWinnerCard
    display: flex
    height: 30rem
    flex-direction: column
    align-items: center

    & > .pinkTeam
        display: flex
        height: 100%
        width: 100%
        gap: 1rem
        & > .player
            background-position: center
            background-size: cover
            height: 100%
            position: relative
            width: 100%
            
            & > .overlay
                background: Colors.$pink
                bottom: 0
                clip-path: polygon(95rem 0, 160rem 0, 160rem 100%, -130% 100%)
                height: 100%
                position: absolute
                right: 0
                width: 100%

                & > .name
                    bottom: 0
                    color:  Colors.$black
                    font-size: Fonts.$p
                    margin: 3%
                    position: absolute
                    right: 0
    
    & > .pinkTeam-losers
        display: flex
        height: 60%
        width: 60%
        gap: 1rem
        opacity: 50%

        & > .player
            background-position: center
            background-size: cover
            height: 100%
            position: relative
            width: 100%
            
            & > .overlay
                background: Colors.$pink
                bottom: 0
                clip-path: polygon(95rem 0, 160rem 0, 160rem 100%, -130% 100%)
                height: 100%
                position: absolute
                right: 0
                width: 100%

                & > .name
                    bottom: 0
                    color:  Colors.$black
                    font-size: Fonts.$p
                    margin: 3%
                    position: absolute
                    right: 0

    & > .redTeam
        display: flex
        height: 100%
        width: 100%
        gap: 1rem
        & > .player
            background-position: center
            background-size: cover
            height: 100%
            position: relative
            width: 100%
            
            & > .overlay
                background: Colors.$red
                bottom: 0
                clip-path: polygon(95rem 0, 160rem 0, 160rem 100%, -130% 100%)
                height: 100%
                position: absolute
                right: 0
                transform: scale(-1, 1)
                width: 100%
                
                & > .name
                    bottom: 0
                    color:  Colors.$white
                    font-size: Fonts.$p
                    margin: 3%
                    position: absolute
                    right: 0
                    transform: scale(-1, 1)

    & > .redTeam-losers
        display: flex
        height: 60%
        width: 60%
        gap: 1rem
        opacity: 50%
        & > .player
            background-position: center
            background-size: cover
            height: 100%
            position: relative
            width: 100%
            
            & > .overlay
                background: Colors.$red
                bottom: 0
                clip-path: polygon(95rem 0, 160rem 0, 160rem 100%, -130% 100%)
                height: 100%
                position: absolute
                right: 0
                transform: scale(-1, 1)
                width: 100%
                
                & > .name
                    bottom: 0
                    color:  Colors.$white
                    font-size: Fonts.$p
                    margin: 3%
                    position: absolute
                    right: 0
                    transform: scale(-1, 1)
    