@use "./styles/Fonts.scss"
@use "./styles/Colors.scss"

html
  font-size: 62.5%
body
  background: url("@/assets/images/stake.jpg")
  background-size: contain
  background-position: center
  box-sizing: border-box
  color: Colors.$white
  font-family: Fonts.$regular
  font-size: 1.6rem
  margin: 0
  overflow: hidden
  user-select: none

#root
  transition: all 0.2s ease-in-out
