@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"

.login
    align-items: center
    background: Colors.$white
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: center

    & > .title
        color: Colors.$black
        font-family: Fonts.$regular
        font-size: Fonts.$h1
        line-height: 4.2rem
        text-align: center

    & > .logo
        width: 6rem
        
    & > .description
        color: gray
        font-family: Fonts.$regular
        font-size: Fonts.$h3
        line-height: 2.3rem
        padding: 1rem 0rem
        text-align: center
        width: 80%   

    & > .buttonsContainer
        display: flex
        flex-direction: column
        gap: 2rem

