@use '@/styles/Fonts.scss'
@use '@/styles/Colors.scss'
    
.frontPageLogo
    text-align: center
    padding-top: 3vh
    & > .text
        margin-bottom: 1rem
        font-family: Fonts.$bold
        font-size: Fonts.$h1