@use "@/styles/Fonts.scss"
@use "@/styles/Colors.scss"

.matchHistory
    height: 100vh
    background: Colors.$white
    
    & > .nav
        background: Colors.$black
        box-shadow: 0 0.1rem 1.2rem rgb(0 0 0 / 50%)
        display: flex
        flex-direction: column
        top: 0
        width: 100%
        z-index: 10
        
        & > .banner
            display: flex
            justify-content: center
            padding: 2rem 0

    & > .battles
        display: flex
        flex-direction: column
        align-items: center
        height: calc( 100vh - 19rem )
        overflow-y: scroll
        
        
