@use "../../styles/Fonts.scss"
@use "../../styles/Colors.scss"
.leaderboardCard
    background: Colors.$gradient
    display: flex
    height: 10rem
    justify-content: space-between
    margin: 0.3rem 0
    width: 100%

    & > .img
        height: 100%
        width: 18vh
        background-size: cover
        background-position: center
        clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%)

    & > .aside
        display: flex
        justify-content: center
        align-items: flex-end
        flex-direction: row
        gap: 1rem
        margin-right: 8vw
        margin-bottom: 0rem

        & > .title
            font-size: Fonts.$h3



